*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Poppins,sans-serif;

  background:
  #0f172a;

  color:white;
}

.container{
  max-width:1400px;
  margin:auto;
  padding:30px;
}

.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:25px;

  padding:30px;

  border-radius:25px;

  background:
  linear-gradient(
    135deg,
    #0284c7,
    #0ea5e9
  );
}

.hero h1{
  font-size:42px;
}

.hero p{
  opacity:.9;
}

#device-status{
  font-size:22px;
  font-weight:600;
}

.dashboard{
  display:grid;

  grid-template-columns:
  repeat(12,1fr);

  gap:20px;
}

.feed-card,
.chart-card,
.metric-card,
.history-card,
.summary-card{
  background:#1e293b;

  border-radius:25px;

  padding:25px;
}

.feed-card{
  grid-column:span 3;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.feed-icon{
  font-size:60px;
  margin-bottom:20px;
}

#feedBtn{
  margin-top:20px;

  width:100%;

  border:none;

  padding:16px;

  border-radius:15px;

  background:#0ea5e9;

  color:white;

  font-size:18px;

  cursor:pointer;
}

.chart-card{
  grid-column:span 9;
  min-height:420px;
}

#sensorChart{
  width:100%!important;
  height:320px!important;
}

.metric-card{
  grid-column:span 4;
}

.metric-card span{
  color:#94a3b8;
}

.metric-card h2{
  font-size:52px;
  margin-top:10px;
}

.history-card{
  grid-column:span 8;
}

.summary-card{
  grid-column:span 4;

  display:flex;
  flex-direction:column;
  gap:15px;
}

.summary-item{
  background:#334155;
  padding:15px;
  border-radius:15px;
}

.summary-item span{
  color:#94a3b8;
}

.summary-item h3{
  margin-top:8px;
  font-size:30px;
}

.card-title{
  font-size:22px;
  font-weight:600;
  margin-bottom:20px;
}

#feed-history{
  list-style:none;
}

#feed-history li{
  padding:14px;
  margin-bottom:10px;

  border-radius:12px;

  background:#334155;
}

@media(max-width:900px){

  .dashboard{
    grid-template-columns:1fr;
  }

  .feed-card,
  .chart-card,
  .metric-card,
  .history-card,
  .summary-card{
    grid-column:span 1;
  }

  .hero{
    flex-direction:column;
    gap:15px;
  }

  .metric-card h2{
    font-size:40px;
  }
}